th {
    text-align: center;
    border: 1px solid;
    border-collapse: collapse;
}

td {
    border: 1px solid;
    text-align: center;
    border-collapse: collapse;
}

table {
    width: 100%;
}

button {
    height: 30px;
    width: 125px;
    font-size: 16px;
    padding: 0;
    margin: 5px;
    display: table-cell;
    vertical-align: middle;
}

#reject-button {
    background-color: #b40000;
}

#see-reservation-button {
    background-color: darkgoldenrod;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content.active {
    display: block;
}