body {
    background-color: var(--secondary);
    height: 100vh;
    margin: 0;
    padding: 0;

}

body .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

body .wrapper .form-wrapper {
    width: 800px;
    height: 200px;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: 0.5rem 0.5rem black;
    transform: translateY(75px);
    position: relative;
}

body .wrapper .form-wrapper h1
{
    font-size: 40px;
    color: var(--secondary);
    text-align: left;
    padding: 10px;
}

.item-box {
  width: 300px;
  height: 200px;
  border-radius: var(--border-radius);
  background-color: white;
  box-shadow: 0.5rem 0.5rem black;
  position: absolute;
  top: 300px;
  transform: translateX(80%);
}

body .wrapper .item-box h1 {
    font-size: 40px;
    color: var(--secondary);
    text-align: left;
    padding: 10px;
}

body .wrapper .afrond-button {
    color: var(--secondary);
    background-color: white;
    width: 280px;
    height: 50px;
    padding: 10px;
    font-size: 25px;
    position: absolute;
    top: 530px;
    right: 375px;
}

body .afrond-button:hover {
    background-color: grey;
    color: white;
}

body .calender-box {
    width: 450px;
    position: absolute;
    top: 300px;
    left: 375px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}

body .calender-box header{
    display: flex;
    border-radius: var(--border-radius);
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}

header .icons span{
    height: 30px;
    width: 40px;
    cursor: pointer;
    font-size: 1.9rem;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

header .icons span:hover{
    background: #f2f2f2;
}

header .current-date{
    font-size: 1.45rem;
    font-weight: 500;
}

.calender{
    padding: 20px;
}

.calender ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

.calender .weekdays li{
    font-weight: 700;
    cursor: default;
}

.calender ul li {
    position: relative;
    width: calc(100% /7);
}

.calender .days li{
    z-index: 1;
    cursor: pointer;
    margin-top: 30px;
}


.days li.inactive{
    color: #aaa;
}
.days li.active{
    color: #fff;
}

.calender .days li::before{
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.days li.active::before{
    background: var(--secondary);
}

.days li:not(.active):hover::before{
    background-color: #f2f2f2;
}

/* Popup container */
.wrapper .popup  {
  position: relative;
  display: inline-block;
  cursor: pointer;
  top: 400px;
  right: 500px;
  z-index: 999;
}

.form-wrapper .popup .bonk {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 999;
  bottom: 175%;
  left: 50%;
  margin-left: -100px;

}








