main {
    background-color: var(--secondary);
}

.error {
    padding: var(--default-padding);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.error a {
    color: white;
    text-decoration: underline;
}

.error a:hover {
    color: rgb(226, 226, 226);
}

.error h1, .error h2 {
    width: 100%;
    text-align: center;
}

.error h1 {
    font-size: 36px;
    margin-bottom: 10px;
} 

.error h2 {
    font-size: 24px;
} 