:root {
    --info-width: 400px;
}

/* main .content-container {
    height: calc(100vh - var(--header-height) - 16px);
}

main .content-container .product-container {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border: 2px solid var(--border-color);
    border-bottom: none;
    padding: var(--default-padding);

    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
} */

.product {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* Product info left */

.product .product-info-left {

    width: 100%;
}

.product .product-info-left h1 {
    color: var(--secondary);
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 5px;
    padding: 5px var(--default-padding);
}

.product .product-info-left .product-info-description {
    padding: var(--default-padding);
}

/* Product Status */

.product .product-info-left .title-container {
    display: flex;
    position: relative;
}

.product .product-info-left .status {
    position: absolute;
    top: 5px;
    right: var(--default-padding);
    padding: 8px var(--default-padding);
    border-radius: var(--border-radius);
    text-align: center;
    min-width: 100px;
}

.product .product-info-left .status-background {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px var(--default-padding);
    text-align: center;
    min-width: 100px;
    width: -moz-available;
    width: -webkit-fill-available;
    height: 34px;
    border-radius: var(--border-radius);
    background: var(--card-background);
    opacity: 0.8;
    z-index: 10;
}

.product .product-info-left .status-text {
    font-weight: bold;
    color: white;
    z-index: 10;
    position: relative;
}

.product.available .product-info-left .status-background {
    background: rgb(43, 230, 43) !important;
}

.product.processing .product-info-left .status-background {
    background: rgb(230, 202, 43) !important;
}

.product.unavailable .product-info-left .status-background {
    background: rgb(230, 48, 43) !important;
}

/* Product info right */

.product .product-info-right {
    padding-top: 59px;
    min-width: var(--info-width);
    max-width: var(--info-width);
}

.product .product-info-right .product-details {
    padding: var(--default-padding);
}

.product .product-info-right .product-contents {
    padding: var(--default-padding);
}

/* Product text */


.product .product-info-left .product-info-description h2,
.product .product-info-right .product-details h2,
.product .product-info-right .product-contents h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

.product .product-info-left .product-info-description p,
.product .product-info-right .product-details p,
.product .product-info-right .product-contents p  {
    margin-top: 4px;
}

/* Add to cart */


.product .product-info-right .add-to-cart {
    padding: var(--default-padding);
}

.product .product-info-right .add-to-cart .add-to-cart-button {
    padding: 8px var(--default-padding);
}

/* Slideshow */

.slideshow-container {
    position: relative;
    border-radius: var(--border-radius);
    border: 2px solid var(--border-color);
    padding: var(--default-padding);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.slideshow-container img {
    margin: 0 auto;
    display: flex;
    height: 100%;
}

.slideshow-container .slides-container {
    margin-bottom: var(--default-padding)
}

.slideshow-container .slides {
    display: none;
    height: 400px;
}

.slideshow-container .slides img {
    border-radius: var(--border-radius);
}

.slideshow-container .cursor {
    cursor: pointer;
}

.slideshow-container .prev,
.slideshow-container .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: var(--border-radius);
    user-select: none;
    -webkit-user-select: none;
    background-color: rgba(0, 0, 0, 0.3);
}

.slideshow-container .next {
    right: var(--default-padding);
}

.slideshow-container .prev:hover,
.slideshow-container .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slideshow-container .row {
    display: flex;
    justify-content: center;
}

.slideshow-container .row:after {
    content: "";
    display: table;
    clear: both;
}

.slideshow-container .column {
    float: left;
    width: 16.66%;
    max-height: 80px;
    opacity: 0.6;
}

.slideshow-container .thumbnail-container {
    position: relative;
}

.slideshow-container .thumbnail {
    height: 80px;
}

.slideshow-container .active,
.slideshow-container .column:hover {
    opacity: 1;
}