body {
    background-color: white;
    height: 100vh;
}

body .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--secondary);
}

body .wrapper .form-wrapper {
    width: 500px;
    background-color: white;
    border-radius: var(--border-radius);
    padding: 30px 60px;
}

body .wrapper .form-wrapper h1 {
    font-size: 75px;
    color: var(--secondary);
    text-align: center;
}

body .wrapper .form-wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 15px;
}

body .wrapper .form-wrapper .input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: var(--border-radius);
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
    border: solid 1px var(--border-color);
}

body .wrapper .form-wrapper .input-box input::placeholder {
    color: black;
}

body .wrapper .input-box img {
    height: 20px;
    width: 20px;
    position: absolute;
    right: var(--default-padding);
    top: 50%;
    transform: translateY(-50%);
}

body .wrapper .form-wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 40px 0 15px;
}

body .wrapper .form-wrapper .remember-forgot label input {
    accent-color: white;
    margin-right: 5px;
}

body .wrapper .form-wrapper .remember-forgot a {
    color: black;
    text-decoration: none;
}

body .wrapper .form-wrapper .remember-forgot a:hover {
    text-decoration: underline;
}

body .wrapper .form-wrapper .login,
body .wrapper .form-wrapper .register {
    width: 100%;
    height: 45px;
    font-size: 16px;
    margin-top: 10px;
    transition: 15ms;
}