#testbutton {
    background: blue;
}

.tile {
    background-color: rgb(128, 128, 128);
    border: solid;
    padding: 20px;
    margin: 20px;
    text-align: center;
    transition: transform 0.2s;
    border-radius: 5px;
    display: inline-block;
    width: 250px;
}

.tile h1 {
   color: white;
}

.tile:hover {
    transform: scale(1.03);
}

:root {
    --background: rgb(255, 255, 255);
    --primary: rgb(230, 51, 45);
    --secondary: rgb(0, 136, 200);

    --text-color-primary: rgb(51, 51, 51);
    --text-color-secondary: ;

    --border-color: rgb(221, 221, 221);
    --border-radius: 4px;

    --container-desktop: 1240px;
    --container-tablet: 940px;
    --container-mobile: 100vw;

    --header-height: 60px;
    --sidebar-width: 250px;

    --card-background: rgb(240, 240, 240);
    --default-padding: 15px;
}

@font-face {
    font-family: 'HU Sans';
    src: url('../fonts/husans_fixed-webfont.ttf');
}

* {
    scrollbar-width: thin;
}

html,
body {
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
}

body {
    font-family: "Avenir Roman", "Open Sans", sans-serif;
}

.container {
    max-width: var(--container-desktop);
    margin: 0 auto;
}

h1, h2, h3, h4 {
    font-family: 'HU Sans';
}

/* header */

header {
    border-bottom: 1px solid #bbb;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
    overflow: hidden;
}

header .topbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: var(--header-height);
}

header .topbar-logo-container {
    width: var(--sidebar-width);
    padding: 0 var(--default-padding);
}

header .topbar-logo-container .topbar-logo-link {
    height: 48px;
    display: flex;
    align-items: center;
    width: min-content;
}

header .topbar-logo-container .topbar-logo-link .topbar-logo {
    height: 44px;
    min-width: 180px;
}

header .topbar-nav {
    height: 48px;
    width: calc(100% - var(--sidebar-width));
    display: flex;
    justify-content: space-between;
    padding: 0 var(--default-padding) 0 0;
}

header .topbar-nav .search-bar-container {
    height: 48px;
    display: flex;
    align-items: center;
}

header .topbar-nav .search-bar-container form {
    display: flex;
    flex-direction: row;
}

header .topbar-nav .search-bar-container form .search-bar {
    width: 250px;
    display: flex;
    flex: 1;
    height: auto;
    padding: 6px 10px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    color: var(--text-color-primary);
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--background);
    background-image: none;
    box-shadow: none;
    font-size: 17px;
    line-height: 1.5;
    margin-right: 10px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

header .topbar-nav .search-bar-container form .search-bar:focus {
    border-color: var(--secondary);
    outline: 0;
    background-color: var(--background);
    box-shadow: none;
}

header .topbar-nav .search-bar-container form .search-button {
    transition: all .2s ease-in-out;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    color: #333;
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--border-color);
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    font-size: 17px;
    line-height: 1.5;
    font-weight: bold;
    padding: 0 10px;
}

header .topbar-nav .search-bar-container form .search-button:hover {
    color: #333;
    border-color: #b1b1b1;
    background-color: #b1b1b1;
}

header .topbar-nav .account {
    display: flex;
    align-items: center;
    height: 48px;
}

/* main */

main {
    margin-top: 15px;
}

main .content-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 var(--default-padding) 0 0;
}

main .content-container .sidebar-nav {
    min-width: var(--sidebar-width);
    padding: var(--default-padding);
    padding-top: 0;
}

main .content-container .products-container {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border: 2px solid var(--border-color);
    border-bottom: none;
    padding: var(--default-padding);
    height: calc(100vh - var(--header-height) - 16px);
    width: calc(100% - var(--sidebar-width));
    overflow-y: auto;
    overflow-x: hidden;
}

main .content-container .products-container .products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* product card */

.product {
    background-color: var(--card-background);
    min-width: 250px;
    max-width: 297.667px;
    height: 300px;
    border-radius: var(--border-radius);
    cursor: pointer;
    flex: 1;
    display: flex;
    flex-direction: column;
    transition: transform .2s;
    position: relative;
}

.product::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 15px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #979797;
    clear: both;
    transform: rotate(-90deg);
}

.product .product-image {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.product .product-text {
    padding: var(--default-padding);
    height: calc(100% - 150px);
    display: flex;
    flex-direction: column;
}

.product .product-text h1 {
    color: var(--secondary);
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 5px;
}

.product .product-text p {
    height: calc(100% - 30px);
    max-height: calc(100% - 30px);
    padding-right: var(--default-padding);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

/* Product Status */

.product .status {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 8px var(--default-padding);
    border-radius: var(--border-radius);
    text-align: center;
    min-width: 100px;
}

.product .status-background {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px var(--default-padding);
    text-align: center;
    min-width: 100px;
    width: -moz-available;
    width: -webkit-fill-available;
    height: 34px;
    border-radius: var(--border-radius);
    background: var(--card-background);
    mix-blend-mode: multiply;
    z-index: 10;
}

.product .status-text {
    font-weight: bold;
    color: white;
    z-index: 10;
    position: relative;
}

.product .grayout {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    opacity: 0;
    border-radius: 4px;
    z-index: 5;
}

.product.available .status-background {
    background: rgb(43, 230, 43) !important;
}

.product.available:hover {
    transform: scale(1.025);
}

.product.processing,
.product.unavailable {
    cursor: not-allowed !important;
}

.product.processing .status-background {
    background: rgb(230, 202, 43) !important;
}

.product.unavailable .status-background {
    background: rgb(230, 48, 43) !important;
}

.product.processing .grayout,
.product.unavailable .grayout {
    opacity: 0.5;
}

>>>>>>> 858e07954d1b8ba935e396532f048376d35ab401
