:root {
    --background: rgb(255, 255, 255);
    --primary: rgb(230, 51, 45);
    --secondary: rgb(0, 136, 200);

    --text-color-primary: rgb(51, 51, 51);
    --text-color-secondary: ;

    --border-color: rgb(221, 221, 221);
    --border-radius: 4px;

    --container-desktop: 1240px;
    --container-tablet: 940px;
    --container-mobile: 100vw;

    --header-height: 60px;
    --sidebar-width: 250px;

    --card-background: rgb(240, 240, 240);
    --default-padding: 15px;
}

@font-face {
    font-family: 'HU Sans';
    src: url('../fonts/husans_fixed-webfont.ttf');
}

* {
    scrollbar-width: thin;
}

html,
body {
    height: 100vh;
    background-color: var(--background);
}

body {
    font-family: "Avenir Roman", "Open Sans", sans-serif;
}

.container {
    max-width: var(--container-desktop);
    margin: 0 auto;
}

h1, h2, h3, h4 {
    font-family: 'HU Sans';
}

/* header */

header {
    border-bottom: 1px solid #bbb;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
    overflow: hidden;
}

header .topbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: var(--header-height);
}

header .topbar-logo-container {
    width: var(--sidebar-width);
    padding: 0 var(--default-padding);
}

header .topbar-logo-container .topbar-logo-link {
    height: 48px;
    display: flex;
    align-items: center;
    width: min-content;
}



header .topbar-logo-container .topbar-logo-link .topbar-logo {
    height: 44px;
    min-width: 180px;
}

header .topbar-nav {
    height: 48px;
    width: calc(100% - var(--sidebar-width));
    display: flex;
    justify-content: space-between;
    padding: 0 var(--default-padding) 0 0;
}

header .topbar-nav .search-bar-container {
    height: 48px;
    display: flex;
    align-items: center;
}

header .topbar-nav .search-bar-container form {
    display: flex;
    flex-direction: row;
}

header .topbar-nav .search-bar-container form .search-bar {
    width: 250px;
    display: flex;
    flex: 1;
    height: auto;
    padding: 6px 10px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    color: var(--text-color-primary);
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--background);
    background-image: none;
    box-shadow: none;
    font-size: 17px;
    line-height: 1.5;
    margin-right: 10px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

header .topbar-nav .search-bar-container form .search-bar:focus {
    border-color: var(--secondary);
    outline: 0;
    background-color: var(--background);
    box-shadow: none;
}

header .topbar-nav .search-bar-container form .search-button {
    transition: all .2s ease-in-out;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    color: #333;
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--border-color);
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    font-size: 17px;
    line-height: 1.5;
    font-weight: bold;
    padding: 0 10px;
}

header .topbar-nav .search-bar-container form .search-button:hover {
    color: #333;
    border-color: #b1b1b1;
    background-color: #b1b1b1;
}

header .topbar-nav .account {
    display: flex;
    align-items: center;
    height: 48px;
}

header .topbar-nav .account .cart-header img {
height: 35px;
width: 35px;
margin-right: 10px;
}

header .topbar-nav .account .admin-header img {
height: 35px;
width: 35px;
}

/*body admin.html*/

body .wrapper {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: rgb(51, 153, 255);

}

body .wrapper .form-wrapper {
min-height: 50vh;
min-width: 30vw;
background-color: white;
border: 1.5px solid black;
box-shadow: 10px 15px 15px rgba(0, 0, 0, .5);
border-radius: 20px;
padding: 30px 60px;

}

body .wrapper .form-wrapper h1 {
font-size: 75px;
color: rgb(51, 153, 255);
text-align: center;
}

body .wrapper .form-wrapper .input-box {
position: relative;
width: 100%;
height: 50px;
margin-top: 15px;
}

body .wrapper .form-wrapper .input-box input{
width: 100%;
height: 100%;
background-color: transparent;
border-width: 1px;
border-radius: 40px;
font-size: 16px;
color: black;
padding: 20px 45px 20px 20px;
}

body .wrapper .form-wrapper .input-box input::placeholder {
color: black;
}

body .wrapper .input-box img {
height: 20px;
width: 20px;
position: absolute;
right: 20px;
top: 45%;
transform: translateY(-50%);
}

body .wrapper .form-wrapper .remember-forgot {
display: flex;
justify-content: space-between;
font-size: 14.5px;
margin: 40px 0 15px;
}

body .wrapper .form-wrapper .remember-forgot label input {
accent-color: white;
margin-right: 5px;
}
body .wrapper .form-wrapper .remember-forgot a {
color: black;
text-decoration: none;
}

body .wrapper .form-wrapper .remember-forgot a:hover {
text-decoration: underline;

}

body .wrapper .form-wrapper .btn {
width: 100%;
height: 45px;
background-color: rgb(51, 153, 255);
border: none;
outline: none;
border-radius: 40px;
box-shadow: 0 0 10px rgba(0,0,0,.1);
cursor: pointer;
font-size: 16px;
color: white;
font-weight: bold;
margin-top: 10px;
transition: 15ms;
}

body .wrapper .form-wrapper .btn:hover {
background-color: transparent;
color: black;
border: 1px solid rgb(51, 153, 255);
}

body .wrapper .form-wrapper .register {
width: 100%;
height: 45px;
background-color: rgb(51, 153, 255);
border: none;
outline: none;
border-radius: 40px;
cursor: pointer;
font-size: 16px;
color: white;
font-weight: bold;
margin-top: 10px;
transition: 15ms;
}

body .wrapper .form-wrapper .register:hover {
background-color: transparent;
color: black;
border: 1px solid rgb(51, 153, 255);
}

body .wrapper .form-wrapper .register {
width: 100%;
height: 45px;
background-color: rgb(51, 153, 255);
border: none;
outline: none;
border-radius: 40px;
box-shadow: 0 0 10px rgba(0,0,0,.1);
cursor: pointer;
font-size: 16px;
color: white;
font-weight: bold;
margin-top: 10px;
}

/* main */

main {
    margin-top: 15px;
}

main .content-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 var(--default-padding);
}
